@colorC: #ffff4e;
.normal {
  transform: scale(-1.2, -1.2) rotate(90deg) translate(-200px, 400px);
  .lens,
  .cornea,
  .pupil,
  .uvea,
  .sclera,
  .vitreousHumour,
  .retinalBloodVessels,
  .fovea {
    transition: all 1s;
  }
  .lens:hover,
  .cornea:hover,
  .pupil:hover,
  .uvea:hover,
  .sclera:hover,
  .vitreousHumour:hover,
  .retinalBloodVessels:hover,
  .fovea:hover {
    stroke: @colorC !important;
    stroke-width: 2 !important;
    fill: @colorC !important;
    transition: all 1s;
  }
  .retina {
    transition: all 1s;
  }
  .retina:hover {
    stroke-width: 2 !important;
    stroke: @colorC !important;
    transition: all 1s;
  }
}
