
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;

  .sky {
    height: 560px;
    background: linear-gradient(-45deg,#462e68,70%,#231a2d);
  }
  
  .list {
    font-size: 1.2em;
    list-style: none;
    line-height: 1.5em;
  }
  
  .list code {
    background: #f7f7f7;
  }
}

