.normal {
  .scrollSnap {
    overflow: scroll;
    overflow-x: hidden;
    height: 90vh;
    scroll-snap-type: y mandatory;
    .first {
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
      background-color: white;
    }

    .second {
      background-color: #ebe5e7;
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
    }

    .third {
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
    }

    .fourth {
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
    }
    .fifth {
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
    }
  }
  .scrollSnap::-webkit-scrollbar {
    width: 0px;
  }
}