.normal {
  .eyePosition {
    &.eyeStructureShow {
      transform: translate(-500px) scale(0.5);
      transition: transform 1s ease-in-out;
    }
  }
  .eye {
    .eyeBoard {
      position: absolute;
      top: 20%;
      left: 25%;
      writing-mode: vertical-rl;
      text-align: justify;
      .eyeName {
        font-size: 25px;
        background-color: #e1bb0d;
        border-radius: 5px;
        width: 50px;
        height: 150px;
        color: white;
        padding-top: 5px;
        padding-right: 5px;
      }
      .eyeFunction {
        width: 50px;
        height: 360px;
        color: white;
      }
      .eyeIntroduction {
        width: 50px;
        height: 380px;
        color: #ef6f56;
      }
    }
    opacity: 0;
    &.eyeStructureShow {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }
  }
}
