html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: SourceHan,Georgia, sans-serif;
  user-select: none;
}

@font-face {
  font-family: SourceHan;
  src: url('./assets/font/SourceHanSerifCN-SemiBold-7.otf');
}